.contact-grid-wrapper{
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
}

.company-metadata-sidebar-wrapper > .logo img{
    width: 100%;
    margin-bottom: 35px;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: Italianno, cursive;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    align-items: center;
    font-size: 1.25em;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper i{
    color: #af2121;
}